@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

/* DatePicker styles */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
}